/bin/mymemo_x86_64-win64.exe
/lib/x86_64-win64/main.lfm
/lib/x86_64-win64/main.o
/lib/x86_64-win64/main.ppu
/lib/x86_64-win64/mymemo.compiled
/lib/x86_64-win64/mymemo.o
/lib/x86_64-win64/mymemo.obj
/lib/x86_64-win64/mymemo.res
/src/backup/main.lfm
/src/backup/main.pas
/src/backup/mymemo.lpi
/src/backup/mymemo.lpr
/src/backup/mymemo.lps
